@import 'variables';

.row {
  td {
    padding: 0.3em 0;
    border-bottom: 1px solid $lightgrey;
  }

  &:hover {
    td {
      background-color: lighten($lightgrey, 15%);
    }
  }
}

.successful {
  color: $green;
}

.failed {
  color: $red;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
