@import 'variables';

.header {
  padding: 2em;
  background-color: $blue;
  color: #fff;

  a {
    color: #fff;
  }
}

.section {
  background-color: #fff;
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: $box-shadow;

  h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 1em;
  }
}
