@import 'variables';

.header {
  text-align: center;
  color: #fff;

  height: 240px;
  padding-top: 3em;

  a {
    color: $darkgrey;

    &:focus,
    &:hover {
      color: #000;
    }
  }
  @media (min-width: 768px) {
    h1 {
      font-size: -webkit-xxx-large;
    }
  }

  @media (max-width: 551px) {
    height: 110px;
    padding-top: 1em;
  }
}

.section {
  background-color: #fff;
  padding: 2em;
  margin-bottom: 2em;

  h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 1em;
  }
}
