@import "../../../../theme/colors";

.harvest {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 2em;
}

.harvest > button {
  margin: 2em;
  padding: 15px 20px;
  color: #fff;
  background-color: var(--blue);
  border: 1px solid;
}

.chart {
  margin: 2em;
}

.pending {
  margin: 2em;
  padding: 15px 20px;
  color: grey;
  background-color: #f2f2f2;
  border-color: grey;
}
