@import 'variables';

.buttons {
  display: flex;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
}

.publish-button {
  background-color: $blue;
  color: #fff;
  padding: 1em;
  width: 49%;
  text-align: center;
}

.refresh {
  align-items: baseline;
  margin: 0.5em 1em;
  padding: 10px;
  color: #fff;
  border: 0;
  background-color: $blue;
  display: inline-block;

  i {
    margin-left: 10px;
  }
}

.disable,
.disable:hover {
  background-color: $whitesmoke;
  color: $grey;
  padding: 1em;
  width: 49%;
  text-align: center;
  cursor: default;
}

.selection {
  background-color: $blue;
  color: #fff;
  padding: 1em;
  width: 49%;
  text-align: center;
}

.no-data {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
