@import 'variables';

.masthead {
  padding: 20vh 8%;
  text-align: center;

  span {
    line-height: 4em;
  }

  h1 {
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  @media (max-width: 768px) {
    padding: 0;
    margin-bottom: 3em;
  }

  @media (max-width: 551px) {
    h1 {
      font-size: 1em;
      margin: 1.4em;
    }
  }
}

.buttons {
  button {
    margin: 40px 20px 10px;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid $blue;
  }

  .inverted {
    background-color: $blue;
    color: #fff;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;

    button {
      margin: 0 0 10px;
      padding: 1em;
    }
  }
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.dataset-links {
  display: block;
  margin-top: 2em;
  font-size: 1em;
}

.datagouv {
  background-color: $blue;
  border: 1px solid $darkblue;
  padding: 40px;

  h2 {
    color: #fff;
    text-transform: uppercase;
  }
}

.link {
  margin-top: 2em;
  color: #fff;

  &:focus,
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.catalogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog {
  margin: 10px 20px;
}
