@import "../../theme/colors";

.catalogsStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.catalogsStyle a {
  margin: 0.5em;
}

.catalog {
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 2em 0em;
}

.remove {
  width: 300px;
  margin: 0px 7px;
  padding: 0.5em;
}
