@import 'variables';

.catalogs-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2em;
  margin-bottom: 2em;

  a {
    margin: 0.5em;
  }

  @media (max-width: 768px) {
    align-items: center;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.remove {
  padding: 0.5em;
  color: #fff;
  background-color: $red;
  border: 1px solid #fff;

  &:hover {
    color: $red;
    background-color: #fff;
    border-color: $red;
  }
}

.button-style {
  width: 100%;
  margin: 0.5em 0;
}
