{
  "plugins": [
    ["inline-import", {
      "extensions": [".css"]
    }],
    ["dotenv-import", {
      "allowUndefined": true,
      "whitelist": [
        "PUBLIC_URL",
        "PUBLICATION_BASE_URL",
        "DATAGOUV_API_URL",
        "DATAGOUV_API_KEY",
        "GEODATA_API_URL",
        "PIWIK_URL",
        "PIWIK_SITE_ID"
      ]
    }],
    "lodash"
  ],
  "presets": [
    ["next/babel",{
      "styled-jsx": {
        "plugins": [
          ["styled-jsx-plugin-sass", {
            "sassOptions": {
              "includePaths": ["styles"],
              "precision": 2
            }
          }]
        ]
      }
    }]
  ],

  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          },
          "loose": true
        }]
      ],
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self",
        "istanbul"
      ]
    }
  }
}
