PUBLIC_URL=http://localhost:3000
DATAGOUV_API_URL=https://geo.data.gouv.fr/dgv/proxy-api/1
DATAGOUV_API_KEY=
PUBLICATION_BASE_URL=https://geo.data.gouv.fr/dgv
GEODATA_API_URL=https://geo.data.gouv.fr/api/geogw
PIWIK_URL=https://stats.data.gouv.fr
PIWIK_SITE_ID=32
