# Runtime
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
npm-debug.log*

# Mac
*.DS_Store
.AppleDouble
.LSOverride

# Build
dist

# Cache
.yarn-cache
.npm
.eslintcache
.nyc_output
.changelog

# Node
node_modules

# Reports
coverage
reports
