@import "../../../../theme/shadows.css";

.section {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #FFF;
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: var(--shadow);
}

.section h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
}

.sectionNoPadding {
  background-color: #FFF;
  margin-bottom: 2em;
  box-shadow: var(--shadow);
}

.container {
  padding: 40px;
  display: block;
}

.loader {
  text-align: center;
  margin-top: 5em;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}
