.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.link {
  margin-right: 20px;

  path {
    transition: all 0.25s ease-in-out;
  }

  * {
    pointer-events: none;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .twitter path {
      fill: #1da1f2;
    }

    .medium path {
      fill: #02b875;
    }
  }
}
