.title {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
}

.section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.chart {
  margin: 3em;
}
