@import 'variables';

.container {
  margin: 2rem 0;
  background-color: #fff;
  color: #000;

  span {
    margin-left: 0.3em;
    font-weight: bold;
    color: $blue;
    word-wrap: break-word;

    a {
      color: $blue;

      &:hover {
        color: #000;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.title {
  h1 {
    font-size: 1.7rem;
    margin: 0 0 1rem;
  }

  @media (max-width: 760px) {
    h1 {
      font-size: 1.3rem;
    }
  }
}

.theme {
  display: block;
  padding-left: 15px;

  img {
    display: flex;
    margin-left: auto;
    width: 50px;
  }
}
