@import 'variables';

.wrapper {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $lightgrey;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }
}
