@import "../../theme/colors";

.container {
  padding: 80px 0;
}

.button {
  background-color: var(--blue);
  border: none;
  padding: 10px 15px;
  color: #fff;
}

.button:hover {
  cursor: pointer;
  background-color: var(--highlightBlue);
}

.title {
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.input {
  padding: 10px 15px;
  margin-left: 1em;
  border: none;
  color: var(--blue);
}

@media (max-width: 768px) {
  .container {
    padding: 30px 0;
  }
}
