@import 'variables';

.container {
  background-color: $whitesmoke;
  padding: 6em 0;
  text-align: center;
}

form {
  max-width: 640px;
  margin: auto;
}

footer {
  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}


input {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 16px 20px;
  font: inherit;
  line-height: 1.6;
  font-size: 1.3em;
  border-radius: 2px;
  margin-bottom: 1em;
}
