@import 'variables';

.container {
  padding: 80px 0;

  @media (max-width: 768px) {
    padding: 30px 0;
  }
}

.button {
  background-color: $blue;
  border: 0;
  padding: 10px 15px;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: $highlight-blue;
  }
}

.title {
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.input {
  padding: 10px 15px;
  margin-left: 1em;
  border: 0;
  color: $blue;
}
