@import "../../theme/colors.css";

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue);
  font-size: 2em;
  margin: 2em;
}

.notFound h1 {
  font-size: 4em;
}
