@import 'variables';

.container {
  color: #fff;
  padding-bottom: 10%;

  a {
    color: $darkgrey;

    &:focus,
    &:hover {
      color: #000;
    }
  }
}

.hero {
  padding: 14em 0 12em;
  text-align: center;

  span {
    line-height: 4em;
  }

  h1 {
    font-size: xx-large;
    font-weight: 100;
    margin-bottom: 2em;
  }

  @media (max-width: 768px) {
    padding: 5em 0;
  }

  @media (max-width: 551px) {
    padding: 2em 0;

    h1 {
      font-size: larger;
    }
  }
}

.buttons {
  button {
    margin: 40px 20px 10px;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid $blue;
  }

  .inverted {
    background-color: $blue;
    color: #fff;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;

    button {
      margin: 0 0 10px;
      padding: 1em;
    }
  }
}

.dataset-links {
  display: block;
  margin-top: 2em;
  font-size: 1em;
}

.section {
  padding: 1em 0;
  margin-top: 2em;
  text-align: center;

  h2 {
    color: #fff;
    text-transform: uppercase;
  }
}

.link {
  display: block;
  margin-top: 1em;
  color: #fff;

  &:focus,
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.catalogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog {
  margin: 10px 20px;

  @media (max-width: 551px) {
    margin: 10px 0;
    flex-grow: 1;
  }
}
