.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 400px) {
    width: 85%;
    padding: 0;
  }

  @media (min-width: 550px) {
    width: 80%;
  }
}
