@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  box-shadow: $box-shadow;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 2px solid;
  background-color: $whitesmoke;
  border-color: $yellow;
  align-items: center;
  font-size: 1.1em;
}

.subtitle {
  color: #a2a2a2;

  > p {
    margin-top: 3px;
  }
}

.producers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin: 0.2em;
  border-bottom: 1px solid $whitesmoke;

  &:hover {
    background-color: $whitesmoke;
  }
}

.organization {
  color: $blue;
}
