@import "../../theme/colors.css";

.previousPage {
  margin: 0.5em 1em;
  padding: 10px;
  color: #fff;
  background-color: var(--blue);
  border-radius: 20px;
  display: inline-block;
}

.previousPage a:hover,
.previousPage a:focus,
.previousPage a {
  color: #fff;
}
