@import "../../../../theme/colors";

.visualizer {
  flex-grow: 1;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons > button {
  width: 50%;
}

.buttons button {
  padding: 5px 10px;
  color: #fff;
  border: none;
  background-color: var(--blue);
}

.buttons button:hover {
  background-color: var(--highlightBlue);
}

.buttons button:disabled {
  background-color: #f0f0f0;
}

.buttons .closeButton {
  border: none;
  max-width: 36px;
  color: #fff;
  background-color: #FF6358;
}

.buttons .closeButton:hover {
  background-color: #FF7565;
}
