@import 'variables';

.download {
  border-left: 2px solid $blue;
  padding-left: 10px;
  margin: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
}

.formats {
  margin-right: 5px;
  font-weight: 500;

  a {
    color: #fff;
    background-color: $highlight-blue;

    display: inline-flex;
    align-items: inherit;

    padding: 3px 5px;
    margin-right: 5px;
    border-radius: 4px;

    img {
      width: 25px;
      margin-right: 0.5em;
    }

    &:hover {

      cursor: pointer;
      background-color: $blue;
    }
  }
}

button {
  border-radius: 2px;
}

.viewer-button {
  padding: 5px 10px;
  color: #fff;
  border: 0;
  background-color: $blue;

  &:hover {
    background-color: $highlight-blue;
  }

  &:disabled {
    background-color: #f0f0f0;
  }
}
