@import 'variables';

.container {
  background-color: #fff;
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: $box-shadow;
}

.event {
  width: 300px;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;

  i {
    margin-right: 0.3em;
  }
}
