.container {
  text-align: center;
  padding: 2em 0;

  h1 {
    color: #fff;
    font-size: xx-large;
    font-weight: 100;
    margin-bottom: 1em;
  }
}

.catalogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog {
  margin: 10px 20px;

  @media (max-width: 551px) {
    margin: 10px 0;
    flex-grow: 1;
  }
}
