@import 'variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: $blue;
  line-height: 0;

  h3 {
    font-size: 4em;
  }
}
