@import "../../theme/colors.css";

.sticky {
  z-index: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.warning {
  background-color: var(--yellow);
}

.errorStyle {
  background-color: var(--red);
}

.bold {
  font-weight: bold;
}

.closeIcon {
  color: #fff;
  padding: 1em;
}

.closeIcon:hover {
  cursor: pointer;
}
