@import "../../theme/colors";

.sticky {
  z-index: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--yellow);
}

.msg {
  width: 100%;
}

.closeIcon {
  color: #fff;
  padding: 1em;
}

.closeIcon:hover {
  cursor: pointer;
}
