@import "../../theme/colors";

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.container > a {
  margin: 1em 3em;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.loader {
  text-align: center;
  margin-top: 5em;
}

.add {
  margin-top: 5px;
}

.warningMsg {
  padding: 1em;
  color: var(--yellow);
}

@media (max-width: 768px) {
  .container {
    padding-top: 0;
  }

  .container > a {
    margin: 1em;
  }
}
