@import 'variables';

.table {
  width: 100%;
  text-align: left;

  th,
  td {
    padding: 0.3em 0;
    border-bottom: 1px solid $lightgrey;
  }

  tr:last-child td {
    border-bottom: 0;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.no-results {
  text-align: center;
  font-style: italic;
}
