.masthead h1.ui.header {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2.ui.header {
  font-size: 1.7em;
  font-weight: normal;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2.ui.header {
    font-size: 1.2em;
    margin-top: 0.5em;
  }

}
