@import 'variables';

.link {
  display: inline-flex;
  justify-content: space-between;

  position: relative;
  padding: 0.4em 1em 0.4em 0.5em;
  margin: 2px 5px 2px 0;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  font-size: 12px;
  overflow: hidden;
  border: 1px solid $blue;
  border-radius: 15px;

  &:hover {
    opacity: 1;
    background-color: $blue;
    border: 1px solid $blue;
    color: #fff;
  }

  span {
    display: table-cell;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  img {
    margin: 1px 10px 0 6px;
    width: 8px;
  }
}

.filter {
  display: inline-flex;
}

.counted-filter {
  width: 80%;
}

.count {
  width: 20%;
  margin-left: 1em;
}

.filter-value {
  padding-left: 5px;
  text-overflow: ellipsis;
  max-width: 140px;
  overflow: hidden;
}
