@import 'variables';

.link {
  position: relative;
  padding: 0.4em 0.5em;
  margin: 2px 2px 2px 0;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  color: $blue;
  background-color: $lightestblue;
  font-size: 12px;
  overflow: hidden;
  border: 0;

  &:hover {
    opacity: 1;
    background-color: $blue;
    color: #fff;
  }

  span {
    display: table-cell;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.filter-value {
  padding-left: 5px;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}
