@import "../../theme/colors";

.link {
  position: relative;
  padding: .4em .5em;
  margin: 2px 2px 2px 0;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  color: var(--blue);
  background-color: var(--lightestblue);
  text-overflow: ellipsis;
  font-size: 12px;
  max-width: 200px;
  overflow: hidden;
  border: none;
}

.link::first-letter {
  text-transform: uppercase;
}

.link:hover {
  opacity: 1;
  background-color: var(--blue);
  color: #FFF;
}
