.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  margin: 0.9rem 0 1rem;
}

.contact {
  margin-top: 1rem;
}
