@import 'variables';

.container {
  margin-bottom: 2em;

  @media (max-width: 551px) {
    margin-bottom: 1em;
  }

  a {
    color: #000;

    &:focus,
    &:hover {
      color: #000;
    }
  }
}

.dataset {
  display: flex;
  margin-bottom: 1em;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  margin-right: 2em;

  // height: 220px;

  @media (max-width: 960px) {
    flex-direction: column;
    // margin: 0;
    // margin-bottom: 1em;

    // height: 110px;
  }

  @media (max-width: 551px) {
    margin: 0;
    margin-bottom: 1em;

    // height: 80px;
  }
}

.thumbnail {
  img {
    display: flex;
    max-width: 100%;
  }

  @media (min-width: 961px) {
    img {
      max-height: 220px;
    }
  }


  @media (max-width: 551px) {
    img {
      margin: auto;
      max-height: 400px;
    }
  }
}

.content {
  width: 100%;
  padding: 1em;
}

.title {
  display: flex;

  h3 {
    flex-grow: 1;
  }
}

.description {
  display: flex;
}

.inspire {
  padding-left: 10px;

  img {
    width: 30px;
  }
}

.filters {
  h5 {
    margin-right: 1em;
  }

  @media (max-width: 551px) {
    display: none;
  }
}

.facet {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.list {
  line-height: 18px;
}
