input.search-input:focus,
input.search-input:active {
  border-color: #85B7D9;
}

input.search-input {
  margin: 0;
  flex: 1 0 auto;
  outline: 0;
  line-height: 2em;
  font-size: 1.5em;
  padding: .59em 1em;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.search-input-wrapper button.ui.button {
  border-radius: 0;
  background-color: #2185C5;
  color: #FFF;
}

.search-input-wrapper button.ui.button:hover {
  border-radius: 0;
  background-color: #35a2e8;
  color: #FFF;
}

.search-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
