@import 'variables';

.container {
  width: 100%;
  position: relative;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 2px;
  margin: 0;
  outline: 0;
  line-height: 2em;
  font-size: 1.5rem;
  padding: 10px 60px 10px 20px;

  &:focus,
  &:active {
    border-color: #85b7d9;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  width: 50px;
  padding: 0 5px;
  outline: 0;
}
