.input:focus,
.input:active {
  border-color: #85B7D9;
}

.input {
  margin: 0;
  flex: 1 0 auto;
  outline: 0;
  line-height: 2em;
  font-size: 1.5em;
  padding: .59em 1em;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  padding: .8em 1.5em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #2185C5;
  color: #FFF;
}

.button:hover {
  border-radius: 0;
  background-color: #35a2e8;
  color: #FFF;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
