@import 'variables';

.container {
  width: 100%;
  display: flex;
  flex-direction: row;

  border-radius: 50px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  @media (max-width: 768px) {
    .button {
      display: none;
    }
  }
}

.input {
  margin: 0;
  flex: 1 0 auto;
  outline: 0;
  line-height: 2em;
  font-size: 1.5em;
  padding: 0.59em 1em;
  background: $white;

  border-radius: 50px;
  border: 0;

  &:focus,
  &:active {
    border-color: $lightblue;
  }
}

.button {
  cursor: pointer;
  min-height: 1em;
  border: 0;
  border-radius: 100%;
  background-color: $white;
  margin: 10px;
}
