:root {
  --darkblue: #3E454C;
  --white: #FAFAF1;
  --blue: #2185C5;
  --highlightBlue: #35a2e8;
  --lightblue: #7ECEFD;
  --lightestblue: #d0ebf5;
  --red: #FF6358;
  --green: #21BA45;
  --yellow: #FBBD08;
}
