@import "../../../../theme/colors";

.table table {
  margin: 10px;
}

.table {
  min-width: 40%;
  max-heigh: 460px;
}

.table table, .table th, .table td {
 border-bottom: 1px solid #d0ebf5;
}

.table thead {
  padding: 10px;
}

.table tr:hover {
  background-color: #f5f5f5
}

.table th, .table td {
  text-align: center;
  padding: 7px;
}

/* PAGINATION */
.table a {
  padding: 10px;
}

.table a.reactable-current-page {
  color: #fff;
  background-color: var(--blue);
}

.table a:hover {
  color: #fff;
  background-color: var(--blue);
}
