@import 'variables';

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em;

  h4 {
    margin: 1em 0;
    padding: 0.5em 1em;

    background-color: $darkblue;
    color: #fff;
    width: 100%;
  }

  @media (max-width: 768px) {
    padding: 0.5em;
  }
}

.sections {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.section {
  @media (max-width: 768px) {
    flex-grow: 1;
  }
}

.previous-page {
  margin-top: 2em;
  width: 200px;
  padding: 10px;
  color: #fff;
  background-color: $blue;
  border-radius: 20px;

  a,
  a:focus,
  a:hover {
    color: #fff;
  }
}

.organization {
  @media (max-width: 768px) {
    padding: 1em;
    text-align: center;
  }
}
