@import "../../../../theme/shadows";
@import "../../../../theme/colors";

.section {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
  padding: 2em;
}

.container {
  margin-bottom: 2em;
  box-shadow: var(--shadow);
}

.container span {
  margin-left: 0.3em;
  font-weight: bold;
  color: #7ECEFD;
  word-wrap: break-word;
}

.head {
  display: flex;
  align-items: center;
  background-color: var(--blue);
}

.head img {
  width: 100px;
  height: 100px;
  margin-right: 2em;
  padding: 0.3em;
  border-radius: 60px;
  background-color: #fff;
}

.resume {
  display: flex;
  flex-direction: column;
  padding: 2em;
  color: #fff;
}

.infos {
  display: flex;
}

.infos > div {
  margin-bottom: 0.5em;
  margin-right: 4em;
}

@media (min-width: 700px) {
  .container h1 {
    padding-right: 40%;
  }
}

@media (max-width: 760px) {

  .container h1 {
    font-size: large;
  }

  .head img {
    width: 50px;
    height: 50px;
    margin-right: 2em;
    border-radius: 60px;
    padding: 0.3em;
    background-color: #fff;
  }

}
