@import "../../../../theme/shadows";
@import "../../../../theme/colors";

.section {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
  padding: 2em;
}

.container {
  margin-bottom: 2em;
  box-shadow: var(--shadow);
}

.container span {
  margin-left: 0.3em;
  font-weight: bold;
  color: #7ECEFD;
  word-wrap: break-word;
}

.container span a {
  color: #7ECEFD;
}

.container span a:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}


.stat {
  padding: 1em;
  text-align: center;
  background-color: var(--yellow);
  color: #fff;
}

.bold {
  font-weight: bold;
}

.stat button {
  margin: 2em;
}

.head {
  background-color: var(--blue);
}

.inspireThemeHead {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--blue);
}

.inspireThemeHead img {
  width: 80px;
  height: 80px;
  margin-right: 2em;
  padding: 0.3em;
  border-radius: 60px;
  background-color: #fff;
}

.resume {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 2em;
  color: #fff;
}

.theme {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.theme a {
  margin-top: 10px;
  color: #fff;
  font-size: smaller;
}

.theme a:hover {
  text-decoration: underline;
}

.infos {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
}

.infos > div {
  margin-bottom: 0.5em;
  margin-right: 4em;
}

@media (max-width: 760px) {

  .container h1 {
    font-size: large;
  }

  .inspireThemeHead img {
    width: 50px;
    height: 50px;
    margin-right: 2em;
    border-radius: 60px;
    padding: 0.3em;
    background-color: #fff;
  }

}
