@import "../../../../theme/shadows";
@import "../../../../theme/colors";

.section {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
  padding: 2em;
}

.container {
  margin-bottom: 2em;
  box-shadow: var(--shadow);
}

.container span {
  margin-left: 0.3em;
  font-weight: bold;
  color: #7ECEFD;
  word-wrap: break-word;
}

.resume {
  display: flex;
  flex-direction: column;
  padding: 2em;
  color: #fff;
  background-color: var(--blue);
}

.infos {
  display: flex;
}

.infos > div {
  margin-bottom: 0.5em;
  margin-right: 4em;
}

.copy:hover {
  cursor: copy;
  font-size: medium;
}

@media (min-width: 700px) {
  .container h1 {
    padding-right: 40%;
  }
}
