@import "../../theme/shadows";

.sectionNoPadding {
  background-color: #FFF;
  margin-bottom: 2em;
  box-shadow: var(--shadow);
}

.container {
  padding: 40px;
  display: block;
}

.container h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
}

.section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.chart {
  margin: 3em;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}
