@import "../../theme/colors";

a.card {
  background-color: white;
  padding: 1em;
  font-size: large;
  border-radius: 60px;
  display: flex;
  align-items: center;
}

a.card.success {
  color: var(--green);
}

a.card.warning {
  color: var(--yellow);
}

a.card.error {
  color: var(--red);
}
