@import "../../theme/colors";

.masthead {
  padding: 20vh 8%;
  text-align: center;
}

.masthead span {
  line-height: 4em;
}

.masthead h1 {
  font-size: 1.4em;
  margin-bottom: 2em;
}

.buttons button {
  margin: 40px 20px 10px 20px;
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid var(--blue);
}

.buttons button.inverted {
  background-color: var(--blue);
  color: #fff;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.datasetLinks {
  display: block;
  margin-top: 2em;
  font-size: 1em;
}

.datagouv {
  background-color: var(--blue);
  border: 1px solid var(--darkblue);
  padding: 40px;
}

.datagouv h2 {
  color: white;
  text-transform: uppercase;
}

.catalogLinks {
  margin-top: 2em;
  color: white;
}

.catalogLinks:focus,
.catalogLinks:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .masthead {
    padding: 0;
    margin-bottom: 3em;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .buttons {
    margin-top: 10px;
  }

  .buttons button {
    margin: 0 0 10px 0;
    padding: 1em;
  }

  .paper {
    padding: 0;
  }
}

.events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.events iframe {
  margin: 1em;
}

.catalogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalogs > a {
  margin: 10px 20px;
}

@media (max-width: 551px) {
  .masthead h1 {
    font-size: 1em;
    margin: 1.4em;
  }
}
