.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: scroll;
}

.vector {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  flex-grow: 1;
  max-width: 60%;
}

@media (max-width: 768px) {
  .vector {
    max-width: 100%;
  }
}
