@import 'variables';

.remove {
  padding: 0.5em;
  color: #fff;
  background-color: $red;
  border: 1px solid #fff;

  &:hover {
    color: $red;
    background-color: #fff;
    border-color: $red;
  }
}
