@import 'variables';

.link {
  cursor: pointer;
  display: inline-block;
  width: 340px;
  position: relative;
  color: $darkblue;
}

.title {
  font-size: 1.4em;
}

.paper {
  border-radius: 5px;
  padding: 2em 20px;
  box-shadow: $box-shadow;
  background: $white;  /* fallback for old browsers */
  background: linear-gradient(to bottom, $white, $whitesmoke); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  font-size: 11px;
}
