@import "../../theme/colors.css";

.nav {
  background-color: var(--blue);
  padding: 2em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  z-index: 1;
}

.nav a {
  color: var(--white);
}

.nav a:focus,
.nav a:hover {
  color: #fff;
}

.home {
  font-size: 2em;
  font-weight: bold;
}

.log {
  font-size: 1em;
}

.log:focus,
.log:hover {
  text-decoration: underline;
}

.authentification {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}

.account:focus,
.account:hover {
  text-decoration: underline;
}

.avatar {
  width: 30px;
  margin-right: 0.3em;
  border-radius: 60px;
}

@media (max-width: 551px) {
  .home {
    font-size: 1em;
    font-weight: bold;
  }

  .account {
    margin-right: 0.4em;
  }

  .logout {
    display: none;
  }

  .avatar {
    width: 25px;
    margin-left: 0;
    margin-right: 0.1em;
  }
}
