@import 'variables';

.nav {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $darkblue;
  z-index: 1;

  a {
    color: $darkblue;

    &:focus,
    &:hover {
      color: $black;
    }
  }

  .log {
    color: $white;
  }

  @media (max-width: 551px) {
    font-size: 0.75em;
  }
}

.marianne {
  max-width: 100px;
  margin-right: 25px;

  @media (max-width: 551px) {
    max-width: 60px;
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.5em;
  font-weight: bold;

  i {
    font-weight: lighter;
    font-family: -webkit-pictograph;
    font-size: larger;
  }

  @media (max-width: 551px) {
    font-weight: bold;
  }
}

.log {
  border-radius: 5px;
  padding: 10px 15px;
  background-color: $blue;
  font-size: 1em;
}

.authentification {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 551px) {
    margin-right: 0.4em;
  }
}

.avatar {
  width: 30px;
  margin-right: 0.3em;
  border-radius: 60px;

  @media (max-width: 551px) {
    width: 25px;
    margin-left: 0;
    margin-right: 0.1em;
  }
}

.logout {
  @media (max-width: 551px) {
    display: none;
  }
}

.divider {
  border-bottom: 1px solid $grey;
  width: 80%;
  margin: 1em auto;
}
