.events {
  margin: 2em;
  text-align: center;

  h1 {
    margin: 1em;
  }
}

.events-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  iframe {
    margin: 1em;
  }
}

.past-events-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
