.circularProgress {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  border: .25rem solid #7ECEFD;
  border-top-color: #2185C5;
  animation: spin 1s infinite linear;
  position: relative;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
