.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 768px) {
    padding: 0;
  }
}

.img {
  max-height: 120px;
  max-width: 200px;
  border-radius: 60px;
}

.detail {
  text-align: center;
  padding: 0 0 1em;
  color: #000;
  font-size: 1.2rem;

  &:hover {
    color: #000;
  }
}
