@import 'variables';

.discussion-form {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $blue;
  margin: 0.3em;

  p {
    margin-left: 1em;
    color: $red;
  }

  input {
    padding: 1em;
    margin: 0 1em 0.5em;
    border: 1px solid;
  }

  textarea {
    padding: 1em;
    width: 100%;
    border: 1px solid;
  }

  button {
    margin: 0 1em 0.5em;
  }
}

.comment-input {
  display: flex;
  align-items: center;
  margin: 0 1em 0.5em;
}

.avatar {
  margin: 1em 1em 1em 0;
  min-width: 50px;
  max-height: 50px;
}
