@import "../../../theme/colors.css";

.large {
  font-size: 4rem;
  line-height: 4rem;
}

.small {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.medium {
  font-weight: 300;
}

.defaultLabel {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
}

.container {
  text-align: center;
}

.success {
  color: var(--green);
}

.warning {
  color: var(--yellow);
}

.error {
  color: var(--red);
}
