@import 'variables';

.large {
  font-size: 4rem;
  line-height: 4rem;
}

.small {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.medium {
  font-weight: 300;
}

.default-label {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
}

.container {
  text-align: center;
}

.success {
  color: $green;
}

.warning {
  color: $yellow;
}

.error {
  color: $red;
}
