@import 'variables';

.large {
  font-size: 4rem;
  line-height: 4rem;
}

.small {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.medium {
  font-weight: 300;
}

.default-label {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
}

.value {
  display: flex;
  justify-content: center;
  font-size: 3em;
  align-items: baseline;
}

.unit {
  font-size: 14px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.container {
  text-align: center;
}

.success {
  color: $green;
}

.warning {
  color: $yellow;
}

.error {
  color: $red;
}
