.container {

}

.container img {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.infos {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 1em;
}
