@import 'variables';

.container {
  display: flex;
}

.image {
  display: flex;
  width: 260px;
  max-height: 240px;
  justify-content: center;
  align-items: center;
  margin: 0.4em auto;

  img {
    max-width: 260px;
    max-height: 240px;
  }
}

.thumb-container {
  margin-bottom: 0.8rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.list {
  border-left: 1px solid $whitesmoke;
  padding-left: 1.6rem;
  margin-left: 1.6rem;

  img {
    width: 70px;
    opacity: 0.4;
    filter: grayscale(100%);

    &:hover {
      &:not(.selected) {
        cursor: pointer;
        opacity: 0.5;
        filter: none;
      }
    }
  }

  .selected {
    opacity: 1;
    filter: none;
  }
}
