@import 'variables';

.image {
  display: flex;
  width: 260px;
  height: 260px;
  justify-content: center;
  align-items: center;
  margin: auto;

  img {
    max-width: 260px;
    max-height: 260px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    margin: 10px 10px 0;
    width: 70px;

    border: 2px solid transparent;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    border-color: $blue;
  }
}
