@import "../../../../theme/colors";

.container {
  flex-direction: column;
  margin-bottom: 4em;
  display: block;
  white-space: pre-wrap;
  width: 60vw;
}

.action {
  background-color: var(--blue);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-bottom: 1px solid;
  float: right;
}
