@import 'variables';

.container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-flow: wrap;

    > :nth-child(1) {
      max-width: 100%;
      order: 3;

      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
    }

    > :nth-child(2) {
      order: 1;
    }

    > :nth-child(3) {
      order: 2;
    }
  }

  @media (max-width: 551px) {
    flex-direction: column;

    > :nth-child(1) {
      max-width: 100%;
    }

    > :nth-child(2) {
      width: 100%;
    }

    > :nth-child(3) {
      max-width: 100%;
    }
  }
}

.header {
  height: 240px;
  margin-bottom: -200px;

  @media (max-width: 768px) {
    height: 60px;
    margin-bottom: -15px;
  }
}

.side {
  display: flex;
  flex-direction: column;

  max-width: 25%;

  margin: 0 2em 2em;

  @media (max-width: 768px) {
    margin: 0 1em 1em;
  }
}

.center {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: $box-dark-shadow;
  padding: 0 1.6rem 2rem;

  h3 {
    text-align: left;
    background-color: $darkblue;
    color: #fff;
    padding: 1em;
  }

  @media (max-width: 768px) {
    width: 70%;
    border-radius: 0;
    box-shadow: none;
  }
}

.footer {
  margin-top: 2em;
}
