.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
  }
}
