@import "../../theme/colors";
@import "../../theme/shadows";

.container {
  display: flex;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.organization {
  background-color: var(--blue);
  padding: 2em;
}

.img {
  max-height: 120px;
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 60px;
}

.detail {
  color: #fff;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .organization {
    padding: 1em;
    text-align: center;
  }
}
