@import 'variables';

.header {
  text-align: center;
  color: #fff;

  height: 240px;
  padding-top: 3em;

  a {
    color: $darkgrey;

    &:focus,
    &:hover {
      color: #000;
    }
  }
  @media (min-width: 768px) {
    h1 {
      font-size: -webkit-xxx-large;
    }
  }

  @media (max-width: 551px) {
    height: 110px;
    padding-top: 1em;
  }
}

.content {
  margin: 2em;
}


.results {
  margin: 2em 0;
  padding: 1em;
  background-color: $whitesmoke;
}
