.container {
  display: flex;
  flex-direction: column;
}

.resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 2em 2em 0em;
  width: 60%;
}

.resume img {
  width: 50px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}
