@import 'variables';

.container {
  background-color: $whitesmoke;
  padding: 6em 0;
  text-align: center;

  h2 {
    margin-top: 0;
  }

  input {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px 20px;
    font: inherit;
    line-height: 1.6;
    font-size: 1.3em;
    border-radius: 2px;
    margin-bottom: 1em;
  }

  @media (max-width: 768px) {
    padding: 3em 0;

    h2 {
      font-size: 1.4rem;
    }
  }
}

.form {
  max-width: 640px;
  margin: auto;
}
