table {
  margin: 10px;
}

table, th, td {
 border-bottom: 1px solid #d0ebf5;
}

thead {
  padding: 10px;
}

th {
  background-color: #f5f5f5;
}

tr:hover {background-color: #f5f5f5}

th, td {
  text-align: center;
  padding: 5px;
}

/* PAGINATION */
.reactable-pagination > tr > td {
  padding: 10px;
  background-color: #fff;
}

.reactable-pagination > tr > td > a {
  margin: 8px;
}

.reactable-current-page {
  padding: 6px 10px;
  background-color: #d0ebf5;
}
