@import "../../theme/colors";

.buttons {
  display: flex;
  justify-content: space-between;
}

.publishButton {
  background-color: var(--blue);
  color: #fff;
  padding: 1em;
  width: 49%;
  text-align: center;
}

.disable {
  background-color: whitesmoke;
  color: grey;
  padding: 1em;
  width: 49%;
  text-align: center;
}

.selection {
  background-color: var(--blue);
  color: #fff;
  padding: 1em;
  width: 49%;
  text-align: center;
}
