@import "../../theme/colors";

.data {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.publishButton {
  background-color: var(--blue);
  color: #fff;
  padding: 1em;
  text-align: center;
}
