.searchWrapper {
  margin: 4em;
}

.filters {
  display: inline-block;
  padding: .4em .5em;
  margin: 2px 2px 2px 0;
  font-size: 12px;
}

@media (max-width: 768px) {
  .searchWrapper {
    margin: 0;
    margin-top: 10px;
  }
}
