@import "../../theme/shadows";

.container {
  margin-bottom: 3em;
  padding: 1em;
  background-color: #FFF;
  box-shadow: var(--shadow);
  margin-right: 2em;
}

.list {
  line-height: 18px;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    margin-bottom: 1em;
  }
}
