.results {
  display: flex;
  margin: 2em 4em;
}

.result {
  flex-grow: 1;
}

.loader {
  text-align: center;
  margin-top: 5em;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin: 0 4em 2em;
}
