@import "../../theme/colors";

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.action {
  background-color: var(--blue);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-bottom: 1px solid;
  align-self: flex-end;
}
