@import "../../theme/shadows";

.container {
  display: flex;
  flex-direction: column;
  margin: 5em;
}

.loader {
  text-align: center;
  margin-top: 5em;
}

.section {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: var(--shadow);
}

@media (max-width: 768px) {
  .container {
    margin: 0em;
  }
}
