.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  display: inline-block;
}

.pagination-element {
  float: left;
  position: relative;
  background: #fff;
  color: #35a2e8;
  border: 1px solid rgba(0,0,0,.15);
  border-bottom-width: 2px;
  cursor: pointer;
}

.pagination-element:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-element:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagination-element-link {
  position: relative;
  display: block;
  padding: .5em 1em;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.pagination-element-break {
  float: left;
  position: relative;
  background: #fff;
  color: #35a2e8;
  border: 1px solid rgba(0,0,0,.15);
  border-bottom-width: 2px;
  padding: .5em 1em;
  cursor: pointer;
}

.pagination-element-active {
  background: #35a2e8;
  border-color: #2185C5;
  color: #fff;
  z-index: 1;
}
