@import 'variables';

.container {
  flex-direction: column;
  margin-bottom: 4em;
  display: block;
  white-space: pre-wrap;
  width: 60vw;
}

.button {
  background-color: $blue;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  border-bottom: 1px solid;
  float: right;
}
