.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results {
  display: flex;
  margin: 2em 0;
}

.filters-overlay {
  @media (max-width: 960px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 2;
    -webkit-overflow-scrolling: touch;
  }
}

.facets {
  margin-left: 2em;

  @media (max-width: 960px) {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
    padding: 1em 2em;
  }
}

.filter-open {
  display: none;

  @media (max-width: 960px) {
    display: block;
  }
}

.filter-close {
  display: none;
  background: none;
  border: 0 none;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 1.4em;
  padding: 0;

  @media (max-width: 960px) {
    display: block;
  }
}

.facets.open {
  display: block;
}

.loader {
  text-align: center;
  margin-top: 5em;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 4em 2em;

  @media (max-width: 551px) {
    margin: 0 0 2em;
  }
}
