.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results {
  display: flex;
  margin: 2em 0;
}

.facets {
  margin-left: 2em;

  @media (max-width: 960px) {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
    padding: 1em 2em;
    overflow: auto;
  }
}

.filter-open {
  display: none;

  @media (max-width: 960px) {
    display: block;
  }
}

.filter-close {
  display: none;

  @media (max-width: 960px) {
    display: block;
    font-size: 18px;
    position: absolute;
    top: 6px;
    right: 1.4em;
    padding: 0;
  }
}

.facets.open {
  display: block;
}

.loader {
  text-align: center;
  margin-top: 5em;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 4em 2em;

  @media (max-width: 551px) {
    margin: 0 0 2em;
  }
}
