.container {
  display: flex;
  margin: 2em 0;
}

.facets {
  margin-left: 2em;

  @media (max-width: 960px) {
    display: none;
  }
}

.loader {
  text-align: center;
  margin-top: 5em;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 4em 2em;

  @media (max-width: 551px) {
    margin: 0 0 2em;
  }
}
