@import "../../../../theme/colors";

button.activate:hover {
  padding: 0.5em;
  color: var(--blue);
  background-color: #fff;
  border: 1px solid var(--blue);
}

button.activate {
  padding: 0.5em;
  color: #fff;
  background-color: var(--blue);
  border: 1px solid #fff;
}
