@import "../../../../theme/colors.css";

.container {
  margin: 3em;
  display: flex;
}

.main {
  width: 70%;
  margin-right: 1em;
}

.side {
  width: 30%;
}

.loader {
  text-align: center;
  margin-top: 5em;
}

@media (max-width: 768px) {
  .container {
    margin: 0em;
  }
}

@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .side {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
