.container {
  margin: 3em;
  display: flex;
}

.main {
  width: 70%;
  margin-right: 1em;
}

.side {
  width: 30%;
}

.loader {
  text-align: center;
  margin-top: 5em;
}

@media (max-width: 768px) {
  .container {
    margin: 0em;
  }
}
