.label {
  font-size: small;
  color: #fff;
  width: 30%;
  padding: 3px 2px;
  border-radius: 3px;
  text-align: center;
}

.processor {
  background-color: #2185d0;
}

.resource-provider {
  background-color: #2185d0;
}

.principal-investigator {
  background-color: #4f76a7;
}

.publisher {
  background-color: #21ba45;
}

.owner {
  background-color: #21ba45;
}

.author {
  background-color: #fbbd08;
}

.custodian {
  background-color: #a333c8;
}

.user {
  background-color: #e03997;
}

.distributor {
  background-color: #f2711c;
}

.originator {
  background-color: #db2828;
}

.point-of-contact {
  background-color: #a5673f;
}

.sponsor {
  background-color: #000;
}

.not-defined {
  background-color: #ddd;
}

.other {
  background-color: #ddd;
}
