.container {
  margin-bottom: 1em;
}

.container h4 {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
