.container {
  margin-bottom: 1em;

  @media (max-width: 768px) {
    display: none;
  }

  h4 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 1em;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
