@import "../../theme/colors";

.container {
  width: 55%;
  position: relative;
}

.map {
  height: 560px;
}

.load {
  position: absolute;
  z-index: 401;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.3;
}

.loader {
  z-index: 402;
  width: 6em;
  height: 6em;
  top: 46%;
  left: 51%;
  border-width: 10px;
}

.errors {
  position: absolute;
  top: 0;
  z-index: 402;
  text-align: center;
  width: 100%;
  background-color: var(--red);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
