@import 'variables';

.container {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: inline-block;
}

.page {
  float: left;
  position: relative;
  background: #fff;
  color: $highlight-blue;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-width: 2px;
  cursor: pointer;

  &.disabled {
    color: #999;
    cursor: default;

    a:hover {
      color: #999;
    }
  }

  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.break {
  float: left;
  position: relative;
  background: #fff;
  color: $highlight-blue;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-width: 2px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}


.active {
  background: $highlight-blue;
  border-color: $blue;
  color: #fff;
  z-index: 1;

  &:hover {
    cursor: default;

    a {
      color: #fff;
    }
  }
}
