@import "../../../../theme/shadows";

.container {
  padding-top: 100px;
  padding-bottom: 2em;
  background-color: #fff;
  margin-bottom: 2em;
  box-shadow: var(--shadow);
}

.container h3 {
  padding: 0 1em;
  font-weight: 400;
}
