.container {
  text-align: center;
  padding-top: 2em;
}

.container > a {
  margin: 1em 3em;
}

.loader {
  text-align: center;
  margin-top: 5em;
}

@media (max-width: 768px) {
  .container {
    padding-top: 0;
  }

  .container > a {
    margin: 1em;
  }
}
