.container {
  text-align: center;
  padding-top: 2em;

  & > a {
    margin: 1em 3em;
  }

  @media (max-width: 768px) {
    padding-top: 0;

    & > a {
      margin: 1em;
    }
  }
}

.loader {
  text-align: center;
  margin-top: 5em;
}
