.container {
  display: flex;
  flex-flow: wrap;

  @media (max-width: 551px) {
    flex-flow: column;
  }

  div {
    flex: 1;

    div {
      margin-bottom: 0.2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.other {
  @media (max-width: 551px) {
    margin-top: 1.4rem;
  }
}
