@import 'variables';

.container {
  display: flex;
  flex-flow: column;

  b {
    color: $blue;
  }

  div {
    flex: 1;

    div {
      margin-bottom: 0.2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.other {
  margin-top: 2em;
  @media (max-width: 551px) {
    margin-top: 1.4rem;
  }
}
